* {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif; 
  color: #000;
}

body { 
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, #4c6e70, #bdc3c7);
}

header {
  & h1 {
    font-family: monospace;
    font-size: 4vw;
    background-color: #eee;
    max-width: 80vw;
    margin: 10px 0;
    color: #221;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 16px; 
    box-shadow: 3px 3px 2px black;
    text-align: center;
  }

  & a {
    position: absolute;
    right: 4px;
    top: 4px;
    width: 40px;
    
    &:hover {
      transform: scale(1.03)
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  @media screen and (width < 500px) {
    & h1 {
      font-size: 1.7em;
      
    }
 
    & a {
      width: 25px;
    }
  }
}

main {
  padding: 20px;
  border: 1px solid #222;
  color: #222;
  background-color: #eee;
  box-shadow: 2px 2px 2px black;
  width: 80%;
  border-radius: 10px;
  
  & form{
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 20px 0; 

    & label {
      font-size: 3vw;
            
      @media screen and (width < 500px) {
        font-size: 1em;
      }
    }

    & input { 
      font-size: 2.2vw;  
      text-align: center;
      letter-spacing: 2px;
      border-radius: 5px;
      border: 1px solid #222;
      min-width: 200px;
      color: #33f;

      @media screen and (width < 500px) {
        font-size: 1em;
      }
    }

    & div {
      grid-column: 1 / -1;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      & button {
        @media screen and (width < 500px) {
          font-size: 1em;
          width: 100px;
        }

        width: 20vw;
        padding: 10px;
        font-family: monospace;
        border-radius: 50px;
        border:  1px solid #000;
        background-color: #bbb;
        box-shadow: 1px 1px 2px #000;
        font-size: 2vw;     
        font-weight: bold;
      }
    }
  }

  & .result-container {
    border: 1px solid;
    padding: 5px;
    background-color: #fff;
    border-radius: 10px;

    & div {
      margin: 10px;
      
      & header h2 {
        font-size: 2.5vw;
      }

      & p {
        font-size: 2vw;
      }
      
      @media screen and (width < 500px) {
        & header h2 {
          font-size: 1em;
        }

        & p {
          font-size: 1em;
        }
      }
    }
  }
}